{% extends 'photoWeb/base.html' %}

{% load static %}

{% block main_data %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>关于我们的 <em>部分经历</em></h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_1.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>游乐园</h4>
                        <p>一起去欢乐园坐过山车、旋转木马、动感影厅、鬼屋、摩天轮、碰碰车等等！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_2.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>做饭</h4>
                        <p>一起做排骨汤、煮鸡腿、熬粥、炸丸子、做虎皮青椒、西红柿炒鸡蛋、椰子鸡...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_3.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>考驾照</h4>
                        <p>一起在郑州考驾照，同一天报名、同一天考试、同一天体检、同一天过、同一天拿证、同一天嗨皮！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_4.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>养宠物</h4>
                        <p>一起养一只喵星人，易烊千玺的老妹儿“十五”，虽然怂的一批，但也挡不住我们喜欢！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_5.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>雪中漫步</h4>
                        <p>一起在2017年的大雪中漫步，也就在那次漫步中拉起你的小手！！！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'photoWeb/img/service_6.png' %}" alt="">
/                    </div>
                    <div class="text">
                        <h4>唱歌</h4>
                        <p>.一起去KTV唱歌，共同学一首歌曲陈小春的“独家记忆”！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>我愿意娶薛峥嵘小姐作为我的妻子</h2>
                    <span>小橙子奉上结婚宣誓：</span>
                    <p>我们将会走在世上所有人都走过的人生道路上，有可能会经历雨打、风吹，有时甚至还可能会被困难绊倒。
                    <br><br>但每一次，我们都会握着彼此的手，勇敢地重新站起来，用淘气的微笑告诉对方这不是什么大事，我们将学会如何坚强而勇敢地再次行走，陪伴彼此。</p>
                    <div class="simple-btn">
                        <a href="#">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pricing-tables">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="table-item">
                    <h4>彩礼</h4>
                    <span>小橙子奉上</span>
                    <ul>
                    	<li>红票子</li>
                    	<li>多少</li>
                        <li>你说了算</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="table-item premium-item">
                    <h4>地点</h4>
                    <span>双方家里</span>
                    <ul>
                        <li>在谁那办</li>
                        <li>办几场</li>
                        <li>你说了算</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="table-item">
                    <h4>时间</h4>
                    <span>小橙子奉上</span>
                    <ul>
                        <li>商量下</li>
                        <li>挑个好日子</li>
                        <li>尽快</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}